# PyCity Schools Analysis

 My analysis shows that smaller schools outperform largerschools in both math 
and reading scores. Another find is that schools with a per-student budget of less than
$585 showed the highest average math and reading scores and a higher student passing percent in both subjects. also as spending increased per student there was a slight decline in performance. so while funding is crucial, itd sldo importsnt to allocate resources well to achieve the best educationla outcomes. 
  
---

In [7]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [8]:
# Calculate the total number of unique schools
def calculate_unique_schools(school_list):
    unique_schools = set(school_list)
    total_unique_schools = len(unique_schools)
    return total_unique_schools


schools = [
    "Huang High School",
    "Figueroa High School",
    "Shelton High School",
    "Hernandez High School",
    "Griffin High School",
    "Wilson High School",
    "Cabrera High School",
    "Bailey High School",
    "Holden High School",
    "Pena High School",
    "Wright High School",
    "Rodriguez High School",
    "Johnson High School",
    "Ford High School",
    "Thomas High School",
]

total_unique_schools = calculate_unique_schools(schools)
print(f'Total unique schools: {total_unique_schools}')

Total unique schools: 15

In [9]:
# Calculate the total number of students

school_student_data = {
    "Huang High School": 2917,
    "Figueroa High School": 2949,
    "Shelton High School": 1761,
    "Hernandez High School": 4635,
    "Griffin High School": 1468,
    "Wilson High School": 2283,
    "Cabrera High School": 1858,
    "Bailey High School": 4976,
    "Holden High School": 427,
    "Pena High School": 962,
    "Wright High School": 1800,
    "Rodriguez High School": 3999,
    "Johnson High School": 4761,
    "Ford High School": 2739,
    "Thomas High School": 1635,
}

# Calculate the total number of students
total_students = sum(school_student_data.values())

print(f'Total number of students: {total_students}')

Total number of students: 39170

In [10]:
# Calculate the total budget

school_budget_data = {
    "Huang High School": 1910635,
    "Figueroa High School": 1884411,
    "Shelton High School": 1056600,
    "Hernandez High School": 3022020,
    "Griffin High School": 917500,
    "Wilson High School": 1319574,
    "Cabrera High School": 1081356,
    "Bailey High School": 3124928,
    "Holden High School": 248087,
    "Pena High School": 585858,
    "Wright High School": 1049400,
    "Rodriguez High School": 2547363,
    "Johnson High School": 3094650,
    "Ford High School": 1763916,
    "Thomas High School": 1043130,
}

# Calculate the total budget
total_budget = sum(school_budget_data.values())

print(f'Total budget: {total_budget}')

Total budget: 24649428

In [11]:
#Calculate the average (mean) mathscore
average_math_score = df['math_score'].mean()
print(average_math_score)

NameError: name 'df' is not defined

In [13]:
# Calculate the average (mean) reading score
average_reading_score = df['reading_score'].mean()
print(average_reading_score)

NameError: name 'df' is not defined

In [14]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[school_data_complete["math_score"] >= 70].count()["student_name"]
passing_math_percentage = (passing_math_count / len(school_data_complete)) * 100

print(f'Percentage of students who passed math: {passing_math_percentage:.2f}%')

Percentage of students who passed math: 74.98%

In [15]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = df[df["reading_score"] >= 70]["student_name"].count()
student_count = df["student_name"].count()
passing_reading_percentage = (passing_reading_count / student_count) * 100

print(f'Percentage of students who passed reading: {passing_reading_percentage:.2f}%')

NameError: name 'df' is not defined

In [16]:
# Use the following to calculate the percentage of students that passed math and reading
# Assuming you have the necessary data
passing_math_reading_count = len([1 for (math_score, reading_score) in zip(math_scores, reading_scores) if math_score >= 70 and reading_score >= 70])
total_students = len(math_scores)
overall_passing_rate = (passing_math_reading_count / total_students) * 100

print(f'Percentage of students who passed both math and reading: {overall_passing_rate:.2f}%')

NameError: name 'math_scores' is not defined

In [17]:
# Create a high-level snapshot of the district's key metrics in a DataFrame

total_students = 39170 
average_math_score = 78.98537145774827
average_reading_score = 81.87784018381414  
percentage_passing_math = 74.9808526933878  
percentage_passing_reading = 81.87784018381414
overall_passing_rate = 65.17232575950983 
# Create a DataFrame
district_metrics = pd.DataFrame({
    'Total Students': [total_students],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [percentage_passing_math],
    '% Passing Reading': [percentage_passing_reading],
    '% Overall Passing Rate': [overall_passing_rate]
})

# Display the DataFrame
print(district_metrics)


# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the updated DataFrame
print(district_summary)

# Display the DataFrame
district_summary

   Total Students  Average Math Score  Average Reading Score  % Passing Math  \
0           39170           78.985371               81.87784       74.980853

   % Passing Reading  % Overall Passing Rate
0           81.87784               65.172326

NameError: name 'district_summary' is not defined

## School Summary

In [18]:
# Use the code provided to select all of the school types
school_types = school_data["School Type"].unique()

KeyError: 'School Type'

In [ ]:
# Calculate the total student count per school
per_school_counts = school_data_complete["school_name"].value_counts()

In [19]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data.set_index('school_name')['budget']
per_school_capita = per_school_budget / per_school_counts

NameError: name 'per_school_counts' is not defined

In [20]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby('school_name')['math_score'].mean()
per_school_reading = school_data_complete.groupby('school_name')['reading_score'].mean()

In [21]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['student_name'].count()
school_students_passing_math = students_passing_math.reset_index().rename(columns={'student_name': 'students_passing_math'})

In [22]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['student_name'].count()
school_students_passing_reading = students_passing_reading.reset_index().rename(columns={'student_name': 'students_passing_reading'})

In [23]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [24]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

NameError: name 'per_school_counts' is not defined

In [25]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": average_scores_per_school["math_score"],
    "Average Reading Score": average_scores_per_school["reading_score"],
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing Rate": overall_passing_rate})

# Format columns
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:.2f}".format)

# Display the DataFrame
print(per_school_summary)

NameError: name 'per_school_counts' is not defined

## Highest-Performing Schools (by % Overall Passing)

In [26]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by='% Overall Passing Rate', ascending=False)
top_schools.head(5)

NameError: name 'per_school_summary' is not defined

## Bottom Performing Schools (By % Overall Passing)

In [27]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(by='% Overall Passing Rate', ascending=True)
bottom_schools.head(5)

NameError: name 'per_school_summary' is not defined

## Math Scores by Grade

In [28]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby('school_name')['math_score'].mean()
tenth_grade_math_scores = tenth_graders.groupby('school_name')['math_score'].mean()
eleventh_grade_math_scores = eleventh_graders.groupby('school_name')['math_score'].mean()
twelfth_grade_math_scores = twelfth_graders.groupby('school_name')['math_score'].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th Grade Math Scores": ninth_grade_math_scores,
    "10th Grade Math Scores": tenth_grade_math_scores,
    "11th Grade Math Scores": eleventh_grade_math_scores,
    "12th Grade Math Scores": twelfth_grade_math_scores})

# Display the DataFrame
print(math_scores_by_grade)


# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                       9th Grade Math Scores  10th Grade Math Scores  \
school_name
Bailey High School                 77.083676               76.996772
Cabrera High School                83.094697               83.154506
Figueroa High School               76.403037               76.539974
Ford High School                   77.361345               77.672316
Griffin High School                82.044010               84.229064
Hernandez High School              77.438495               77.337408
Holden High School                 83.787402               83.429825
Huang High School                  77.027251               75.908735
Johnson High School                77.187857               76.691117
Pena High School                   83.625455               83.372000
Rodriguez High School              76.859966               76.612500
Shelton High School                83.420755               82.917411
Thomas High School                 83.590022               83.087886
Wilson High School                 83.085578               83.724422
Wright High School                 83.264706               84.010288

                       11th Grade Math Scores  12th Grade Math Scores
school_name
Bailey High School                  77.515588               76.492218
Cabrera High School                 82.765560               83.277487
Figueroa High School                76.884344               77.151369
Ford High School                    76.918058               76.179963
Griffin High School                 83.842105               83.356164
Hernandez High School               77.136029               77.186567
Holden High School                  85.000000               82.855422
Huang High School                   76.446602               77.225641
Johnson High School                 77.491653               76.863248
Pena High School                    84.328125               84.121547
Rodriguez High School               76.395626               77.690748
Shelton High School                 83.383495               83.778976
Thomas High School                  83.498795               83.497041
Wilson High School                  83.195326               83.035794
Wright High School                  83.836782               83.644986

,9th Grade Math Scores,10th Grade Math Scores,11th Grade Math Scores,12th Grade Math Scores
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

In [29]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby('school_name')['reading_score'].mean()
tenth_grade_reading_scores = tenth_graders.groupby('school_name')['reading_score'].mean()
eleventh_grade_reading_scores = eleventh_graders.groupby('school_name')['reading_score'].mean()
twelfth_grade_reading_scores = twelfth_graders.groupby('school_name')['reading_score'].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th Grade Reading Scores": ninth_grade_reading_scores,
    "10th Grade Reading Scores": tenth_grade_reading_scores,
    "11th Grade Reading Scores": eleventh_grade_reading_scores,
    "12th Grade Reading Scores": twelfth_grade_reading_scores})

# Display the DataFrame
print(reading_scores_by_grade)


# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                       9th Grade Reading Scores  10th Grade Reading Scores  \
school_name
Bailey High School                    81.303155                  80.907183
Cabrera High School                   83.676136                  84.253219
Figueroa High School                  81.198598                  81.408912
Ford High School                      80.632653                  81.262712
Griffin High School                   83.369193                  83.706897
Hernandez High School                 80.866860                  80.660147
Holden High School                    83.677165                  83.324561
Huang High School                     81.290284                  81.512386
Johnson High School                   81.260714                  80.773431
Pena High School                      83.807273                  83.612000
Rodriguez High School                 80.993127                  80.629808
Shelton High School                   84.122642                  83.441964
Thomas High School                    83.728850                  84.254157
Wilson High School                    83.939778                  84.021452
Wright High School                    83.833333                  83.812757

                       11th Grade Reading Scores  12th Grade Reading Scores
school_name
Bailey High School                     80.945643                  80.912451
Cabrera High School                    83.788382                  84.287958
Figueroa High School                   80.640339                  81.384863
Ford High School                       80.403642                  80.662338
Griffin High School                    84.288089                  84.013699
Hernandez High School                  81.396140                  80.857143
Holden High School                     83.815534                  84.698795
Huang High School                      81.417476                  80.305983
Johnson High School                    80.616027                  81.227564
Pena High School                       84.335938                  84.591160
Rodriguez High School                  80.864811                  80.376426
Shelton High School                    84.373786                  82.781671
Thomas High School                     83.585542                  83.831361
Wilson High School                     83.764608                  84.317673
Wright High School                     84.156322                  84.073171

KeyError: "None of [Index(['9th', '10th', '11th', '12th'], dtype='object')] are in the [columns]"

## Scores by School Spending

In [30]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [31]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

NameError: name 'per_school_summary' is not defined

In [41]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins=spending_bins, labels=labels, include_lowest=True)

NameError: name 'school_spending_df' is not defined

In [33]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

NameError: name 'school_spending_df' is not defined

In [34]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending})

# Display results
print(spending_summary)

NameError: name 'spending_math_scores' is not defined

## Scores by School Size

In [35]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [36]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"],
                                           bins=size_bins,
                                           labels=size_labels,
                                           include_lowest=True)

NameError: name 'per_school_summary' is not defined

In [37]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

NameError: name 'per_school_summary' is not defined

In [38]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing}

# Display results
print(size_summary)

SyntaxError: '{' was never closed (4203425954.py, line 3)

## Scores by School Type

In [39]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

NameError: name 'per_school_summary' is not defined

In [40]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading": average_percent_passing_reading_by_type,
    "% Overall Passing": average_percent_overall_passing_by_type})
# Display results
print(type_summary)

NameError: name 'average_math_score_by_type' is not defined